# Виртуальное окружение
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# IDE / редакторы
.vscode/
.idea/
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Секреты
.env
*.env.local

# Логи
*.log
